body {
    background-color: #BC986A;
}

p {
    color: white;
    font-size: 20px;
}

label {
    display: block;
}

.inputtext {
    width: 100%;
}
.inputtext2 {
    width: 100%;
    height: 150px;
}
#head {
    width: 100%;
    height: 50px;
    background-color: #659DBD;
    border-bottom: 2px solid lightgrey;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

#aboutme {

    margin: 0 auto;
    background: #659DBD;
    border: solid lightgray;
    width: 960px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
}

#myname {
    font-size: 36px;
    color: White;
    background: #8D8741; 
    height: auto;
    line-height: 50px;
    width: 300px;
    float: left;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 10%;
    z-index: 1;
}

#links{
    font-size: 20px;
    color: lightgrey;
    line-height: 50px;
    float: right;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 10%;
}

#head1 {
    color: white;
    border-bottom: solid lightgrey 2px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#img1 {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#section {
    margin: 20px;
}

#gallery {
    background: white;
    border: solid lightgray;
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100px;
}

/* Do some stuff */
.imgtxt {
    width: 50%;   
    margin-left: 25%;
    margin-right: 25%;
    float: middle;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.imgtxt img {
    max-width: 100%;
}
.img-container {
    display: inline-block;
    position: relative;
}
.positioning{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #DAAD86;
    color: white;
    padding: 30px;
    font-size: 30px;
    line-height: 10px;
}
/* Do some stuff */

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 5px #8D8741;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 10px;
    height: auto;

}

/* Link Properties */
a:link {
    color: #FBEEC1;
    text-decoration: none;
  }
  
a:visited {
    color: #FBEEC1;
    text-decoration: none;
  }
  
a:hover {
    color: black;
    text-decoration: none;
  }
  
a:active {
    color: g#FBEEC1;
    text-decoration: none;
  }

button {
    background-color: #FBEEC1;
    border-radius: 10px
}
button:hover {
    background-color:  #8D8741;
}
button:active {
    background-color: #659DBD;
}

/* Link Properties */

/* MEDIA QUERIES */
@media only screen and (max-width: 640px){
    #head{
        position: absolute;
        margin: auto;
        top: 0;
        background-color: #8D8741;
    }
    #myname {
        font-size: 36px;
        color: White;
        background: #8D8741; 
        height: 75px;
        line-height: auto;
        width: 100%;
        float: left;
        text-align: center;
        position: static;
        margin: 0;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    #links{
        font-size: 20px;
        color: lightgrey;
        background: #659DBD;
        width: 100%;
        height: 50px;
        line-height: 50px;
        float: right;
        text-align: center;
        position: static;
    }
    #aboutme {

        margin: 0 auto;
        background: #659DBD;
        border: solid lightgray;
        width: 90%;
        right: 5%;
        left: 5%;
        margin-top: 175px;
        margin-bottom: 100px;
        border-radius: 15px;
    }
    .imgtxt {
        width: 90%;   
        margin-left: 5%;
        margin-right: 5%;
        float: middle;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }
    .positioning{
    
    left: 15px;
    top: 15px;
    background-color: #DAAD86;
    color: white;
    padding: 15px;
    font-size: 30px;
    line-height: 10px;
    }
    #img1 {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    height: auto;
    }
}